.payment__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #000; */
}
.payment__header {
  color: #2b2b2b;
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1.6rem;
  margin-top: 4rem;
}
.payment__text {
  width: 430px;
  color: #767676;
  line-height: 1.6rem;
  text-align: center;
  font-size: 15px;
  margin-bottom: 3rem;
  text-transform: capitalize;
}
.payment__cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.payment__card {
  background: #fff;
  padding: 3rem 2rem 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment__card h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(43, 43, 43, 0.809);
}
.payment__plan {
  display: flex;
  gap: 0.6rem;
}
.payment__plan span {
  color: #2b2b2b;
  align-self: flex-end;
  text-transform: capitalize;
}
.payment__card p {
  color: #767676;
  line-height: 1.6rem;
  text-align: center;
  width: 280px;
  text-transform: capitalize;
}
.payment__card ul {
  list-style: none;
  margin-left: 0.6rem;
  align-self: flex-start;
}
.payment__card ul li {
  line-height: 2.2rem;
}
.payment__card ul li::after {
  content: "";
  display: block;
  background: red;
  width: 250px;
  /* height: 2px; */
  border: 0.5px solid transparent;
}
.payment__card ul li:last-child::after {
  content: "";
  display: none;
}
.payment__card .payment__icon {
  margin-right: 12px;
}
.payment__card ul li span:nth-child(2) {
  text-transform: capitalize;
  color: #2b2b2b;
}
.payment__cards .payment__card .fade__text {
  color: #767676;
  padding-left: 4px;
}
