.blog__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background: hwb(278 0% 0%);
  padding-bottom: 2rem;
}
.blog__header {
  color: #2b2b2b;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1.6rem;
  margin-top: 2rem;
}
.blog__text {
  width: 430px;
  color: #767676;
  line-height: 1.6rem;
  text-align: center;
  font-size: 15px;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.blog__section-blocks {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.blog__section-block {
  background: #fff;
}
.blog__section-block__contents {
  padding: 1.5rem 0 1rem 1.5rem;
  width: 90%;
}
.blog__section-blocks h4 {
  font-size: 18px;
  margin-bottom: 0.4rem;
}
.blog__section-blocks p {
  font-size: 15px;
  line-height: 24px;
  color: #767676;
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}
.blog__section-blocks h5 {
  font-size: 18px;
  color: #ffb400;
  font-weight: 500;
}
